*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
}

.carousel {
  height: 500px;
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
}

.carousel_img {
  height: 100%;
  padding: 0 12px;
}

.carousel_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.left, .right {
  font-size: 40px;
  cursor: pointer;
}

.bullets {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.bullets i {
  padding: 8px;
  cursor: pointer;
  color: #575656;
}

.bullets i.active {
  color: #fff;
}
